body {
	background-color: #171b1e;
	margin: 0;
	padding: 0;
}

/* div */
div[id="wrapper"] {
	background-image: url('background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	/* padding: 0 2rem; */
}
div[id="page"] {
	max-width: 25rem;
	margin: 0 auto;
	padding: 2rem;
	background-color: #1e252b;
	opacity: 90%;
	color: #cccccc;
}

/* elements */
h1, h2, h3 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	text-align: center;
}
h2 {
	text-transform: uppercase;
}
p {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}
a {
	color: #0099ff;
}
hr {
	border-style: none;
	border-top-style: dashed;
	border-color: #555555;
	margin: 2rem 5rem;
}
















.custom-restricted-width {
	/* To limit the menu width to the content of the menu: */
	display: inline-block;
	/* Or set the width explicitly: */
	/* width: 10em; */
}
.pure-menu {
	font-size: 1.5rem;
}
.pure-menu-heading {
	color: #cccccc;
}
.pure-menu-link:hover, .pure-menu-link:focus {
	background-color: #0099ff;
	color: #333333;
}







.centre {
	text-align: center;
}
span[class~="bright"] {
	color: #cccccc;
}
p[class~="small"], span[class~="small"] {
	font-size: 75%;
}
