body {
	background-color: #171b1e;
	margin: 0;
	padding: 0;
}

div[id="page"] {
	max-width: 25rem;
	margin: 0 auto;
	padding: 2rem;
	background-color: #1e252b;
	color: #cccccc;
}
div[id="header"] h1 {
	color: #0099ff;
}
div[id="footer"] p {
	font-size: 75%;
}

h1, h2, h3 {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	text-align: center;
}
h2, h3 {
	text-transform: uppercase;
}
p {
	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	text-align: center;
}
span[class~="bright"] {
	color: #cccccc;
}
hr {
	margin: 2rem;
	border: 0;
	border-top: thin solid #0099ff;
}

div[class~="pure-menu"] {
	font-size: 1.5rem;
	text-align: center;
}
a[class~="pure-menu-link"]:hover, a[class~=".pure-menu-link"]:focus {
	background-color: #0099ff;
	color: #25303f;
}
